
##################################################################
Set Alias of Python3 -> python
Set Alias of pip3 -> pip
###################################################################
Dependency Installation at /usr/local/lib/python3.7/site-packages

pip install numpy 
Version : 1.18.1

pip install cython 
Version : 0.29.15

pip install pystan 
Version : 2.19.1.1

pip install fbprophet 
Version : 0.6

pip install plotly 
Version : 4.5.2

https://facebook.github.io/prophet/docs/installation.html

https://pystan.readthedocs.io/en/latest/installation_beginner.html

brew installation

To check your compiler version

Open a terminal Linux: type gcc --version OSX: type clang --version

pip install -U setuptools

Joblib is part of the SciPy ecosystem and provides utilities for pipelining Python jobs.

pickle -> Python's built in persistence model

Failing to build the wheel for pyramid-arima

pip install pickle-mixin


