
#################################################################
Python Version : 3.7.6
Pip : 19.3.1
##################################################################
Set Alias of Python3 -> python
Set Alias of pip3 -> pip
###################################################################
Dependency Installation at /usr/local/lib/python3.7/site-packages

clang --version

pip install -U setuptools

pip install numpy 
Version : 1.18.1

pip install cython 
Version : 0.29.15

pip install pystan 
Version : 2.19.1.1

pip install fbprophet 
Version : 0.6

pip install plotly 
Version : 4.5.2

pip install pickle-mixin

To check your compiler version


